apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: gcp-pd-rwo
provisioner: pd.csi.storage.gke.io
parameters:
  type: {{ .Values.storageClass.diskType }}
reclaimPolicy: Retain
allowVolumeExpansion: true
volumeBindingMode: WaitForFirstConsumer
